.form-container{
     height: auto;
     width: 22rem;
     background-color: #18366d;
     display: flex;
     flex-direction: column;
     gap: 1rem;
     padding: 1.25rem;

}

h1{
    font-size: 1.5rem;
    text-align: center;
    color: var(--white);
    font-weight: 600;

}

.password-container{
    width: 100%;
    padding-left: 0.75rem;
    height: 3.25rem;
    display: flex;
    align-items: center;
    background-color: #0b2549;
    color: white;
    position: relative;

}

.clip-icon{
    position: absolute;
    right: 0.35rem;
    width: 1rem;
    padding: 0.75rem;

    background-color: var(--blue-1);
    cursor: copy;
}

.password-form{
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.password-form label{
    color: white;

}

.length-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.length-input input {
    width: 3rem;
}

.conditional-input {
    display: flex;
    justify-content: space-between;
}

.generate-password-button {
    width: 100%;
    padding: 0.65rem 0.5rem;
    background-color: var(--blue-1);
    font-size: 1rem;
    color: var(--white);
}